[user]
	name = Dillon Stadther
	email = dstadther@inmarket.com

[init]
	defaultBranch = main

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	hooksPath = /Users/dstadther/.config/git/hooks
